    PermitRootLogin prohibit-password
    StrictModes yes
    Port 2222
    PubkeyAuthentication yes
    PasswordAuthentication no
    ChallengeResponseAuthentication no
    X11Forwarding yes
    PrintMotd no
    AcceptEnv LANG LC_*
    Subsystem	sftp	/usr/lib/openssh/sftp-server